<div>
  <nav class="navbar">
    <a><h3 routerLink=''>NetFoo {{ title }}</h3></a>

    <form [formGroup]='searchForm' class="form-inline"  >
      <input formControlName="query" #box (keyup.enter)="onEnter(searchForm.controls.query.value)" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>

    <div class="userAccess">
      <a href="#"> Login </a>
      <a href="#" routerLink="/signup"> SignUp </a>
    </div>
    
  </nav>

    <div class="row">
        <div class="col">
        </div>
      <div class="col-md-auto">
        <img class="card-img" src="https://www.wallpaperup.com/uploads/wallpapers/2013/12/26/205901/e0389e2031c3b353637bb0c3c5739117-700.jpg" alt="Movie Collage">
      </div>
      <div class="col">
      </div>
    </div>

    
  </div>
  <div id="xxplaceholder">
  <router-outlet></router-outlet>
</div>