<form id="signup" class="auth" [formGroup]="formSignup" (ngSubmit)="signup()">
 

  <label class="lbl lbl-danger">{{this.feedback}}</label>
  <label>Email:</label>
  <input type="email" formControlName="email" required />
  <label *ngIf="formSignup.controls.email.invalid && formSignup.controls.email.dirty" class="alert alert-danger">
    email is invalid
  </label>

  <br />
  <label>Password:</label>
  <input type="password" formControlName="password" required />
  <label *ngIf="formSignup.controls.password.invalid && formSignup.controls.password.dirty" class="alert alert-danger">
    password must have aleast six charaters
  </label>
  <br />
  <br />
  <input class="btn btn-primary" type="submit" value="signup">

</form>