#movie-details {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

#movie-title {
    color:white; 
}

#details {
    display:flex;
    justify-content:center;
    align-items:center;
}

ul {
    list-style-type:none;
    color:white;
    text-align:justify;
    word-wrap:break-word;
}

#addToFavorites {
    background-color:yellow;
    color:#007bff;
    margin-bottom: .3em;
}

#backToSearch {
    margin-bottom: .8em;
}
