<div id="movie-details">

  <h2 id="movie-title">{{movie?.Title}}</h2>


  <div id="details">
    <a href={{movie?.Website}}><img class="movie-img" src={{movie?.Poster}} alt={{movie?.poster}} /></a>
    <ul id="movie-specifics">
      <li>Title: {{movie?.Title}}</li>
      <li>Released: {{movie?.Released}}</li>
      <li>Rating: {{movie?.Rated}}</li>
      <li>Genre: {{movie?.Genre}}</li>
      <li>Actors: {{movie?.Actors}}</li>
      <li>Language: {{movie?.Language}}</li>
      <li>Ratings: {{movie?.imdbRating}}</li>
      <li>Votes: {{movie?.imdbVotes}}</li>
      <li>Country: {{movie?.Country}}</li>
      <li>Plot: {{movie?.Plot}}</li>
    </ul>
  </div>

  <div class="card-header" id="headingOne">
    <h5 class="mb-0">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
        aria-controls="collapseOne">
        <h3>Reviews</h3>
      </button>
    </h5>
  </div>

  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body">
      <!-- <reviewsList></reviewsList> -->
    </div>
  </div>

  <button class="btn btn-primary" id="addToFavorites" >Add to favorites</button>
  <button class="btn btn-primary" id="backToSearch" >Back to Search Results</button>

</div>

