.content {
    margin: 5% 7% 8% 7%;
}

.col-sm-4 {
    min-height: 350px;
    min-width: 300px;
}

.col-sm-6 {
    min-height: 650px;
    height: auto;
    color: white;
}

.movieInfo {
    padding-left: 5%;
}

.btn-outline-warning > a {
    color: inherit;
    text-decoration: none;
}

.movieInfo > h2 {
    text-align: center;
    padding-bottom: 3%;
    font-size: 2.5em;
}

.movieInfo > p:nth-child(2) { 
    font-style: italic;
    margin-left: 1%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 3%;
}

.movieInfo > h5 {
    text-align: center;
}

#reviews {
    color: yellow;
}

#ratings {
    color: red;
    padding-top: 3%;
}


.col-8.btn {
    margin-top: 3%;
}

strong {
    color: #F5B7B1;
    font-size: 1.1em;
    padding-right:.5em
}

.showReviews {
    margin-top: 2%;
    width: 100%;
    color: white;
}



/*Add Review Form*/
.addReview > form {
    margin: 5% 0 0 10%;
    width: 80%;
    height: auto;
    padding:30px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
}

.addReview > textarea{
    background-color: rgba(0, 0, 0, 0.5);
    width: 576px;
    height: auto;
    border: 2px solid #6da5a3;
    border-radius: 4px;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:#fff;
    padding-left:45px;
    padding-right:20px;
    padding-top:12px;
    margin-bottom:20px;
    overflow:hidden;
}

.addReview > input {
    width: 576px;
    height: 48px;
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 4px;
    background-clip: padding-box; 
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:#fff;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
}

.addReview > input[type=submit] {
    cursor:pointer;
}

.addReview > input.title {
    background-color: rgba(0, 0, 0, 0.5);
    padding-left:45px;
    border: 2px solid #6da5a3;
}

.addReview > input:focus, textarea:focus { 
    background: rgba(73, 73, 73, 0.4);
    overflow: hidden; 
}

.addReview > .btn {
    width: 138px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255,255,255,.6);
    background: #30706b;
    padding: 10.5px 21px;
    border-radius: 6px;
    text-shadow: #333333 0 1px 0;
    color: #e1e1e1;
}

.addReview > .btn:hover {
    border: 1px solid #253737;
    text-shadow: #333333 0 1px 0;
    background: #6ee5dc;
    color: black;
}

.addReview > .btn:active {
    margin-top:1px;
    text-shadow: #333333 0 -1px 0;
    border: 1px solid #253737;
    background: #6da5a3;
    color: #fff;
    box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
}


.addReview > ::placeholder {
  color: white;
}


