<div class='reviews' *ngFor='let review of reviews'>
  {{review?.title}} : {{review?.description}}
</div>

<button (click)="toggleAddReviewForm()">Add review</button>
<div *ngIf = "showAddReviewForm">
    <form class="addReview" [formGroup]="addReviewForm" (ngSubmit)="addReview()">
        <label>Title</label>
        <input type="text" formControlName="title" required />
        <label>Description</label>
        <textarea formControlName="description" required></textarea>
        <br />
        <input class="btn btn-primary" type="submit" value="Add">
      
      </form>
</div>